<apex:page controller="contactpopup_controller">

 <apex:form >
  <apex:pageBlock > 
  <apex:pageBlockButtons location="top">
  <apex:commandButton value="Dail" image="/resource/1426501451000/test_image_button" alt="Dial"/>
  <apex:commandButton value="Cancel"/>
  
  </apex:pageBlockButtons>
  <apex:pageBlockSection >
  <apex:pageBlockSectionItem >
  Phone:<apex:inputText value="{!Phone}"/>  </apex:pageBlockSectionItem>
  </apex:pageBlockSection>
  </apex:pageBlock>
 </apex:form>

</apex:page>